{% extends 'MProdLicenciaCyPBundle:Exception:layout.html.twig' %}

{% block cuerpo %}

    <div>
        <div class="ui-widget">
            <div style="padding: 10px; margin-top: 20px; margin-bottom: 20px" class="ui-state-error ui-corner-all">
                <p>
                        <span style="float: left; margin-right: .3em;" class="ui-icon ui-icon-alert">
                        </span>
                    <strong>
                        {% block tituloError%} Ha ocurrido un error:{% endblock %}
                    </strong>
                    {% block mensajeError %}


                        {{errorCode}} <br>
                        {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_SUPER_ADMIN') %}

                            {{errorMessage}}
                        {% else %}
                            Ha ocurrido un error al intentar guardar la entidad.
                        {% endif %}

                    {% endblock %}
                </p>
            </div>
        </div>
    </div>


{% endblock %}
