.navbar-brand img {
    margin-top: 0px !important;
    }    
.well{
    background-color: #e4e5e6 !important;
}    

#footer {
    position:absolute;
     bottom:0;
     left: 0;
     right: 0;
     height:60px;   
     background:#6cf;
     /* get rid of min-width */
   }